body {
  font-family: "Source Sans Pro", Helvetica, helvetica, "helvetica neue", Verdana, sans-serif;
  line-height: 1.4;
  font-size: 16px;
  margin: 0;
  padding: 10px;
  text-align: center; }

h1, h2, h3 {
  margin: 0; }

h1, h2 {
  line-height: 0.8; }

h1 {
  font-size: 200px; }

h2 {
  font-size: 58.0px; }

body {
  background-color: #f2e059; }
  body footer {
    display: none; }

.landing svg {
  border: 4px solid black;
  width: 300px;
  margin-left: -60px; }

body.quiz {
  background-color: white;
  box-shadow: inset 0 3px 0 0 #f2e059; }

.btn {
  display: inline-block;
  box-shadow: inset 0 0 0 3px #94bee6;
  height: 50px;
  line-height: 50px;
  color: #94bee6;
  text-decoration: none;
  font-weight: bold;
  padding: 0 20px;
  min-width: 50px;
  text-align: center; }
  .btn:hover {
    background-color: #f9fbfd; }
  .btn.wide {
    min-width: 200px; }

code {
  padding: 2px 5px !important; }

.questions {
  margin: 0 auto;
  max-width: 500px;
  text-align: left; }
