html {
  height: 100%; }

body {
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, helvetica, "helvetica neue", Verdana, sans-serif;
  line-height: 1.4;
  font-size: 16px;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #f2e059;
  box-shadow: inset 0 3px 0 0 #f2e059; }

img, svg {
  max-width: 100%; }

h1, h2, h3 {
  margin: 0; }

h1, h2 {
  line-height: 0.8; }

h1 {
  font-size: 200px; }

body.landing footer {
  display: none; }

.landing.page svg {
  margin-top: 50px;
  background-color: #f2e059;
  border: 4px solid black;
  margin-left: -60px; }
.landing.page .title {
  font-size: 58.0px; }
.landing.page .btn {
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px; }
@media (max-height: 603px) {
  .landing.page svg {
    margin-top: 20px; }
  .landing.page .btn {
    bottom: 20px; } }

section {
  display: none;
  position: relative;
  height: 100%;
  margin: 0 auto;
  min-width: 320px;
  max-width: 600px; }

.landing .landing.page,
.quiz .quiz.page,
.results .results.page {
  display: block; }

.btn {
  display: inline-block;
  box-shadow: inset 0 0 0 4px black, 0 0 0 4px #f2e059;
  height: 50px;
  line-height: 50px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 0 20px;
  min-width: 50px;
  text-align: center;
  text-transform: uppercase; }
  .btn:hover {
    box-shadow: inset 0 0 0 4px black, 0 0 0 4px #f2e059, 0 0 0 8px white; }
  .btn.wide {
    min-width: 200px; }

.btn.primary {
  background-color: black;
  color: #f2e059; }

.link {
  display: inline-block;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 4px dotted black;
  text-decoration: none;
  padding: 0 3px;
  height: 24px; }
  .link:hover {
    background: black;
    color: #f2e059;
    border-bottom-style: solid; }

.thinker {
  display: none;
  font-size: 30px;
  font-weight: bold;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1.2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.thinking .thinker {
  display: block; }

code {
  padding: 2px 5px !important; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 30px;
  text-align: center; }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }
