body {
  font-family: Helvetica, helvetica, "helvetica neue", Verdana, sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  text-align: center; }

h1, h2, h3 {
  margin: 0; }

.btn {
  display: inline-block;
  box-shadow: inset 0 0 0 3px #94bee6;
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
  color: #94bee6;
  text-decoration: none;
  font-weight: bold;
  padding: 0 20px;
  min-width: 50px;
  text-align: center; }
  .btn:hover {
    background-color: #f9fbfd; }
  .btn.wide {
    min-width: 200px; }

code {
  padding: 2px 5px !important; }

.questions {
  margin: 0 auto;
  max-width: 500px;
  text-align: left; }
