@import 'sass/__'

// Global / Reset ---------------------------------------------------
html
  height: 100%
body
  min-height: 100%
  font-family: 'Source Sans Pro', Helvetica, helvetica, 'helvetica neue', Verdana, sans-serif
  line-height: 1.4
  font-size: 16px
  margin: 0
  text-align: center
  position: absolute
  width: 100%
  top: 0
  bottom: 0
  overflow: hidden
  background-color: $jsYellow
  box-shadow: inset 0 3px 0 0 $jsYellow
img, svg
  max-width: 100%

$largestFont: 200px
h1,h2,h3, p
  margin: 0
h1, h2
  line-height: .8
h1
  font-size: $largestFont

// Layout ---------------------------------------------------
.page
  background-color: white
  .top
    padding-top: 50px
    +phoneHeight
      padding-top: 20px
  .bottom
    position: absolute
    left: 50px
    right: 50px
    font-size: 0
    bottom: 100px
    +phoneHeight
      bottom: 50px
  .bottom .btn
    font-size: 16px


// Pages ----------------------------------------------------------------
// Landing Page
body.landing
  footer
    display: none
.landing.page
  background-color: $jsYellow
  svg
    border: 4px solid black
    margin-left: -60px
  .btn
    display: block


//body.quiz
//  background-color: white
//  box-shadow: inset 0 3px 0 0 $jsYellow
// Any page's main region
section
  //-moz-transform: translateX(100%)
  //-webkit-transform: translateX(100%)
  //transform: translateX(100%)
  display: none
  position: relative
  height: 100%
  margin: 0 auto
  min-width: 320px
  max-width: 600px
.landing .landing.page,
.quiz .quiz.page,
.results .results.page
  display: block



// Reused Components ---------------------------------------------------
.title
  font-size: $largestFont * .29
.btn
  position: relative
  display: inline-block
  box-shadow: inset 0 0 0 4px black
  //border-radius: 6px
  height: 50px
  margin: 8px
  line-height: 50px
  color: black
  text-decoration: none
  font-weight: bold
  padding: 0 20px
  min-width: 50px
  text-align: center
  text-transform: uppercase
  &:hover
    z-index: 1
    background: white
    box-shadow: inset 0 0 0 4px black, 0 0 0 8px $jsYellow
  &:active
    z-index: 1
    color: $jsYellow
    background: black
    box-shadow: 0 0 0 8px $jsYellow

  //&:active
  &.wide
    min-width: 200px
  //&.thinking
  //  background: black
  //  color: $jsYellow
.btn.primary
  background-color: black
  color: $jsYellow
  box-shadow: inset 0 0 0 4px black, 0 0 0 4px $jsYellow
  &:hover
    box-shadow: inset 0 0 0 4px black, 0 0 0 4px $jsYellow, 0 0 0 8px white


.link
  display: inline-block
  color: black
  font-weight: bold
  text-transform: uppercase
  border-bottom: 4px dotted black
  text-decoration: none
  padding: 0 3px
  height: 24px
  &:hover
    background: black
    color: $jsYellow
    border-bottom-style: solid


.thinker
  display: none
  font-size: 30px
  font-weight: bold
  -webkit-animation-name: spin
  -webkit-animation-duration: 1.2s
  -webkit-animation-iteration-count: infinite
  -webkit-animation-timing-function: linear
  -moz-animation-name: spin
  -moz-animation-duration: 1.2s
  -moz-animation-iteration-count: infinite
  -moz-animation-timing-function: linear
  animation-name: spin
  animation-duration: 1.2s
  animation-iteration-count: infinite
  animation-timing-function: linear
.thinking .thinker
  display: block

code
  padding: 2px 5px !important // Override Prism css
//  box-shadow: inset 1px 1px 0 0 rgba(0,0,0,.1)
//  background: #ededed
//  padding: 2px 5px
//  border-radius: 2px


// Footer ----------------------------------------------------------------
footer
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: 40px
  line-height: 30px
  text-align: center


@-moz-keyframes spin
  from
    -moz-transform: rotate(0deg)
  to
    -moz-transform: rotate(360deg)
@-webkit-keyframes spin
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(360deg)
@keyframes spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)
